@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Vazir-bold;
    src: url('/fonts/vazir/Vazir-Bold.woff2')
  }

  @font-face {
    font-family: Vazir-light;
    src: url('/fonts/vazir/Vazir-Light.woff2')
  }

  @font-face {
    font-family: Vazir-medium;
    src: url('/fonts/vazir/Vazir-Medium.woff2')
  }

}

* {
  font-family: Vazir-medium;
}

@media (min-width:1100px) {
  .container {
    max-width: 1074px !important;
    margin: 0 auto;
  }
}

.container {
  width: 100% !important;
}

.swiper-rtl .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
font-size: 20px;
color: black;
}
.swiper-rtl .swiper-button-prev, .swiper-rtl .swiper-button-next {
  background: rgb(245, 245, 245);
  border-radius: 100%;
  top: 40%;
  padding: 4px 20px;
}
.swiper-button-prev{
  right: 0px !important; 
}
.swiper-button-next, .swiper-button-prev {
  opacity: 0;
  transition: 0.1s ease-in-out;
}
    
.swiper:hover  .swiper-button-next, .swiper:hover .swiper-button-prev {
   opacity: 1;
}