@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  } 
}


html {
  direction: rtl;
}

body{
  overflow-y: auto !important;
  padding: 0 !important;
}

* {
  font-family: var(--font-vazir);
  font-weight: 500;
}  

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width:1100px) {
  .Container {
    max-width: 1074px !important;
  }
}

.Container {
  width: 100% !important;
  margin: 0 auto;
}

/* swiper  */
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 20px;
  color: black;
}

.swiper-rtl .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: rgb(245, 245, 245);
  border-radius: 100%;
  padding: 4px 20px;
}

.PopularSwiper .swiper-button-prev,
.PopularSwiper .swiper-button-next {
  top: 43.5% !important;

}

@media (max-width:1023px) {

  .PopularSwiper .swiper-button-prev,
  .PopularSwiper .swiper-button-next {
    top: 39.5% !important;

  }
}

.swiper-button-prev {
  right: 0px !important;
}

.swiper-button-next {
  left: 0px !important;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
  opacity: 0 !important;
  transition: 0.1s ease-in-out;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1 !important;
}

/* swiper  */

.becomeHostBg {
  background: url('/images/patterns/pattern.png') repeat-x, linear-gradient(0deg, transparent 38.49%, rgb(255, 230, 101) 63.95%, rgb(254, 212, 8) 98.9%) rgb(255, 230, 102);

}

.superOfferBg {
  background-color: rgb(204, 0, 1);
  background-image: linear-gradient(rgba(204, 0, 1, 0.75), rgb(204, 0, 1)), url('/images/patterns/pattern2.png');
  background-size: 11%;
}

.instagramGradiant {
  background: linear-gradient(125deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 55%, rgb(252, 176, 69) 100%);
}

.telegramGradiant {
  background: linear-gradient(125deg, rgb(53, 185, 252) 0%, rgb(5, 131, 193) 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* modal  */
.h-modal div button svg {
  width: 2rem;
  height: 2rem;
  color: white;
}

.h-modal div button:hover {
  background: transparent !important;
  color: white !important;
}

.h-modal div button {
  position: absolute;
  left: -4px;
  outline: 0 !important;
  top: -42px;
}

[data-testid="modal-overlay"] .max-w-2xl {
  width: 540px !important; 
  z-index: 99999;
  display: flex;
  align-items: center;
}

@media (max-width:767px) {
  [data-testid="modal-overlay"] .max-w-2xl {
    padding-top: 13rem !important;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
    margin-top: 0 !important;
    left: 0;
    max-width: 100% !important;
    height: max-content;
    padding: 0;
  }
}

/* modal  */



/* animations */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes arrowMove {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}


.trust {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 8px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  border-radius: 40% / 10%;
}

/** rules section start */
.rules-article {
  color: #484848;
}

.rules-article h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: 'Vazir-light';
}

.rules-article h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: 'Vazir-light';
}

.rules-article p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Vazir-light';
}

.rules-article a {
  color: #072ff0;
  font-size: 14px;
  margin: 0px 5px;
}

/** rules section end */

.breadcrumb_bg::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  opacity: .5;
  background: url(https://www.jajiga.com/static/img/backdrop-pattern.svg) 0% 0% / 200px repeat rgb(240, 200, 7);
}


#stepper::-webkit-scrollbar {
  display: none;
}

#stepper_item::after {
  content: "";
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgb(51, 51, 51) 75%, transparent 75%, transparent 100%);
  background-size: 12px 1px;
  height: 48px;
  width: 2px;
  right: 4px;
  top: auto;
  bottom: -7px;
  transform: translate(calc(-0.75em), 50%);
}

#stepper2 #stepper_item::after {
  right: 5px;
}

#stepper_item:last-child:after {
  width: 0px !important;
}

.dropdown-content svg {
  right: 290px !important;
  position: absolute;
  bottom: 7px;
}

.dropdown-content input[type="checkbox"] {
  position: relative;
  top: 3px;
  margin-left: 7px !important;
}

button:focus-visible,
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: 0;
}

.css-1jqq78o-placeholder {
  white-space: nowrap;
  font-size: 14px;
}

.css-qbdosj-Input {
  cursor: pointer;
}

.css-t3ipsp-control:hover,
.css-t3ipsp-control {
  box-shadow: none !important;
  border-color: #f0c807 !important;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #f0c807 !important;
  color: white !important;
  border: 0;
  outline: 0;
  border-radius: 10px;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 400 !important;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png) !important;
}

.leaflet-touch .leaflet-bar a {
  border-radius: 21px !important;
  ;
  display: flex !important;
  ;
  align-items: center;
  justify-content: center !important;
  ;
  padding-top: 3px !important;
  ;
}

.leaflet-bar {
  border: 0 !important;
}

#tooltip:hover div {
  visibility: visible;
}

/* calender */

.rmdp-day.rmdp-today span {
  background-color: transparent !important;
  color: #000 !important;
  border: 2px solid #f0c807;
}

.rmdp-day span {
  border: 1px solid #0000001a;
  border-radius: 5px !important;
}

.rmdp-day:not(.rmdp-deactive) .highlight-red {
  color: unset !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) .highlight-red:hover {
  background-color: unset;
}

.rmdp-range {
  border-radius: 5px;
}

.rmdp-day-picker {
  gap: 20px;
}

.rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
  background-color: unset !important;
  color: unset !important;
}

.rmdp-range span {
  border: 0 !important;
}

.rmdp-rtl {
  width: 100%;
}

.rmdp-day,
.rmdp-week-day {
  width: 100% !important;
}

.rmdp-day-picker div {
  width: 100%;
}

.rmdp-border {
  border: 0 !important;
}

.room-gallery-slider .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;
}

.room-gallery-slider .swiper-pagination-bullet {
  background-color: white !important;
}

.swal-footer{
  text-align: center !important;
}